---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="על הבלוג"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>ב-20 בינואר 2026, מגזין המוזיקה המקוון “פיצ’פורק” <a
href="(https://pitchfork.com/news/a-new-era-for-pitchfork-introducing-reader-scores-and-commenting/)">הכריז
על חומת תשלום בגובה חמישה דולרים לחודש</a> שתעמוד בפני הביקורות שלו.
האתר כבר ידע מהלומות בעברו, אבל בעת כתיבת שורות אלה (קצת אחרי חצות ב-21
בינואר) זה נראה כמו סופו האולטימטיבי. באותו החודש, אני קורא את “<a
href="https://www.amazon.com/Such-Great-Heights-Complete-Explosion/dp/1250363381">Such
Great Heights</a>”, ספרו של עיתונאי המוזיקה כריס דוויל על ההיסטוריה של
האינדי רוק, שבו בין השאר מתוארת עלייתם של “פיצ’פורק” ובלוגים אחרים כמו
“סטריאוגאם” (מקום עבודתו של דוויל). הסיפור הזה נתן לי השראה, והמהפך
בפיצ’פורק גרם לי להתחיל בעבודה.</p>

<p>אז שלום, אני <strong>ג’ורג הספרן</strong>, ובבלוג הזה אני אכתוב
ביקורות מוזיקה. אין ממש היגיון מאחורי מה שאחליט לבקר, פשוט מה שבא לי
באותו הרגע. הכלל היחיד שנראה לי שאדבוק בו הוא לא לבקר אמנים שהסירו את
המוזיקה שלהם משירותי הסטרימינג בישראל - אכבד את רצונותיהם ולא אכתוב על
היצירה שלהם בעברית. אחריג מכלל זה חברות תקליטים שהסירו את כל הקטלוג שלהן
באופן חסר הבחנה וכנראה בלי לשאול כל אמן - פשוט כדי שאוכל לדבר על <a
href="https://rateyourmusic.com/artist/junior_senior">הלהקה האהובה
עליי</a>.</p>

</Layout>
