---
import '../styles/circle.css';

const { value } = Astro.props;

const p = "p" + (Math.round(value * 2.5)).toString();
---
<div class=`c100 ${p}`>
    <span><b>{value}</b></span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
</div>
