---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
    <nav>
        <a href="/"><img id="logo" alt="זה קליט" src="/zekalit_logo.png"/></a>
        <div class="internal-links">
            <HeaderLink href="/">ביקורות</HeaderLink>
            <HeaderLink href="/about">אודות</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        /*background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);*/
    }
    #logo {
        width: 10rem;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    nav a {
      	align-self: center;
        margin-left: 1.2rem;
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    .internal-links {
        display: flex;
        margin: auto;
    }
</style>
