---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import logo from '../assets/zekalit_logo.png';
---

<header>
    <nav>
        <a href="/"><Image id="logo" alt="זה קליט" loading="eager" src={logo} /></a>
        <div class="internal-links">
            <HeaderLink href="/reviews">ביקורות</HeaderLink>
            <HeaderLink href="/blog">בלוג</HeaderLink>
            <HeaderLink href="/about">אודות</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        box-shadow: 0 10px 8px rgba(var(--black), 8%);
    }
    #logo {
        width: 15ch;
        margin-top: 1ch;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    nav a {
      	align-self: center;
        margin-left: 1.2rem;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
    .internal-links {
        display: flex;
        margin: auto;
    }
</style>
