---
import { Image } from "astro:assets";
import kuf from "../assets/knob.png";

const { spin } = Astro.props;

const angle = (Math.min(5, spin) * 72).toString() + "deg"; // 0-360° scale
---
<div class="knob-container">
  <div class="knob-content">
    <Image src={kuf} alt="Knob indicator" />
  </div>

  <div class="labels">
    <span class="label" id="label-05" style="--d:36">0.5</span>
    <span class="label" id="label-1" style="--d:72">1</span>
    <span class="label" id="label-15" style="--d:108">1.5</span>
    <span class="label" id="label-2" style="--d:144">2</span>
    <span class="label" id="label-25" style="--d:180">2.5</span>
    <span class="label" id="label-3" style="--d:216">3</span>
    <span class="label" id="label-35" style="--d:252:">3.5</span>
    <span class="label" id="label-4" style="--d:288">4</span>
    <span class="label" id="label-45" style="--d:324">4.5</span>
    <span class="label" id="label-5" style="--d:0">5</span>
  </div>
</div>

<style define:vars={{ angle }}>
  .knob-container {
    width: 135.5px;
    height: 135.5px;
    position: relative;
  }

  .label {
    position: absolute;
    inset: 0;
    white-space: nowrap;
  }

  #label-05 {
    top: -17px;
    left: 135px;
  }  

  #label-1 {
    top: 40px;
    left: 154px;
  }

  #label-15 {
    top: 81px;
    left: 169px;
  }

  #label-5 {
    top: -20px;
  }

  .knob-content {
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(var(--angle));
    }
  }
</style>
